* {
    background-color: black;
    color: white;
    width: 0;
    height: 0;
    box-sizing: border-box;
}



footer {
    background-color: red;
    height: 5rem;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

}