*{
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    width: 0;
    height: 0;

}

#logo {
    margin-top: 0%;
    width: 130px;
    height: 65px;
}

header {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 4fr 1fr;
    width: 100%;
    margin-bottom: 0px;
}

nav {
    padding: 20px;
}

a {
    padding-left: 15px;
    color: white;
    text-decoration: none;
}

/* Header video styling */

video {
    margin-top: 60px;
    padding: 0;
    width: 1500px;
    height: 720px;
}

#display-content {
    position: absolute;
    bottom: 10vh;
    left: 20vh;
    width: 50em;  
}

#display-title {
    font-size: 500%;
    font-family: poppins;
    margin-bottom: 0;
}

#display-description {
    font-family: poppins light;
    font-size: 100%;
    margin-top: 0;
}

#display-button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

/* thumbnail styling */

.list-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

ul {
    list-style: none;
}

.labels {
    width: 500px;
    font-family: poppins light;
    font-size: 25px;
    padding-left: 40px;
}

img {
    height: 200px;
    width: 350px;
    padding: 5px;
}

li {
    list-style: none;
}

.tag {
    font-family: poppins;
    padding-top: 3px;
    font-size: 12px;
    margin-top: 200px;
    width: 345px;
    height: 25px;
    background-color: #2423237d;
    text-align: center;
    position: absolute;

}

.info {
  /*  visibility: hidden; */
  border-radius: 12px;
  background-color: #2423237d;
  color: white;
  font-family: poppins;
  font-size: 11px;
  width: 350px;
  height: auto;
  padding: 5px;
  margin-top: 5px;
  position: absolute;
    
}

.info-add-button {
    background: transparent;
    border-color: white;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 155px;
    margin-bottom: 10px;
    cursor: pointer;
}

section {
    padding-top: 10px;
    padding-bottom: 15px;
}

#remove-button {
    background-color: #5554548d;
    color: white;
    margin-top: 4px;
    width: 30px;
    height: 190px;
    text-align: center;
    cursor: pointer;
}


/* meta info styling */

.social-media-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    margin-left: 4em;
    margin-bottom: 1em;
    
}

.meta-links {
    width: 1500px;
    row-gap: 5px;
    height: auto;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    text-align: center;
}

/*search button*/

.search-bar {
    margin:0;
    padding:0;
    height: 30px;
    display: flex;
    top: 50px;
    right: 0%;
    top:50%;
    left:50%;
    position: fixed;
    transform: translate(-50%,-50%);
    border: 5px black solid;
    transition-duration: 0.2s;
  }
  
  .textbox {
    width: 0px;
    padding: 0;
    margin: 0;
    border: none;
    line-height: 40px;
    font-size: 25px;
    height:45px;
    background-color: transparent;
    outline: none;
    height: 100%;
    float: right;
  
    transition-duration: 0.05s;
  }
  
  .search-btn {
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    margin: 0;
    height: 30px;
    width: 30px;
    text-decoration: none;
    /* border-left: 5px black solid; */
    height: 100%;
    transition-duration: 0.2s;
  }
  
  
  .search-bar:hover > .textbox {
    padding: 0px 10px 0px 10px;
    width: 100%;
    transition-duration: 0.2s;
  }
  
  .search-bar:hover > .search-btn {
    border-left: 5px black solid;
    transition-duration: 0.2s;
  }
  
  .search-btn:hover {
    background-color: black;
    transition-duration: 0.2s;
  }
  .search-btn:hover > p {
    color: white;
    transition-duration: 0.2s;
  }
