*{
    box-sizing: border-box;
}

body {
    margin-left: 2em;
    margin-right: 2em;
    background-color: black;
    color: white;
    width: 0;
    height: 0;

}

#logo {
    margin-top: 0%;
    width: 130px;
    height: 65px;
}

header {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 4fr 1fr;
    width: 100%;
    margin-bottom: 0px;
}

nav {
    padding: 20px 20px 0 0;
}

a {
    padding-left: 15px;
    color: white;
    text-decoration: none;
}

#display-video {
    height: 100vh;
    width: 90rem;
    margin-top: 70px;
    margin-left: 0;
    margin-right: 0;
    align-content: center;
}

#display-content {
    position: absolute;
    bottom: 1vh;
    left: 22vh;
    width: 50em;    
}

#display-title {
    font-size: 500%;
    font-family: poppins;
    margin-bottom: 0;
}

#display-description {
    font-size: 120%;
    margin-top: 0;
}

#display-button {
    width: 100px;
    height: 50px;
    color: red;
}









.social-media-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    margin-left: 4em;
    margin-bottom: 1em;
    

}

.meta-links {
    width: 1500px;
    row-gap: 5px;
    height: auto;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    text-align: center;
}
